<h1>Admin Dashboard</h1>

<p>Number of products: <%= @product %></p>
<p>Number of categories: <%= @category %></p>

<div>
  <a class="btn btn-info" href="/admin/products/new">Add new product</a>
  <a class="btn btn-info" href="/admin/products">See all products</a>
</div>